body{
    background-image: url("https://images.wallpaperscraft.ru/image/single/lego_tochki_krugi_siniy_9718_1920x1080.jpg");
    background-size:cover ;
    background-attachment: fixed;
    color: rgb(255, 251, 0);
}

.Zagolovok{
    color: red;
    background-color: rgba(255, 251, 6, 0.87);
}





